<div class="container mt-5 pt-lg-5">
  <div class="card">
    <form
      class="mb-3"
      [formGroup]="updateUserForm"
      (ngSubmit)="updateUser(updateUserForm)"
    >
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Change email address</label
        >
        <input
          type="email"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="name@example.com"
          formControlName="email"
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Change password address</label
        >
        <input
          type="password"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="NewPassword123!"
          formControlName="password"
        />
      </div>
      <label for="formFile" class="form-label">Change profile picture</label>

      <input
        class="form-control"
        type="file"
        id="formFile"
        accept="image/png, image/jpeg"
        (change)="onFileChange($event)"
        #fileInput
      />
      <button type="submit">Update profile</button>
    </form>
  </div>
</div>
