<div class="container card">
  <div class="container">
    <form class="mb-3">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Change email address</label
        >
        <input
          type="email"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="name@example.com"
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Change password address</label
        >
        <input
          type="password"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="NewPassword123!"
        />
      </div>
      <label for="formFile" class="form-label">Change profile picture</label>

      <input
        class="form-control"
        type="file"
        id="formFile"
        accept="image/png, image/gif, image/jpeg"
      />
      <button type="submit">Update profile</button>
    </form>
  </div>
</div>
