<nav class="navbar navbar-expand-lg d-flex justify-content-around">
  <div class="container">
    <a class="navbar-brand d-flex flex-row align-items-center gap-2" href="">
      <img src="../../../assets/logo.png" class="logo" />
    </a>

    <form class="form-inline my-2 my-lg-0 col-6">
      <input
        class="form-control mr-sm-2 search-box"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
    </form>

    <ul class="navbar-nav d-flex flex-row align-items-center gap-3">
      <div class="d-none d-lg-flex flex-row gap-3">
        <li class="nav-item">
          <button
            type="button"
            class="btn login-btn"
            (click)="showLoginForm()"
            data-bs-toggle="modal"
            data-bs-target="#loginModal"
          >
            Log In
          </button>
        </li>
        <li class="nav-item">
          <button
            type="button"
            class="btn signup-btn"
            (click)="showSignupForm()"
            data-bs-toggle="modal"
            data-bs-target="#signupModal"
          >
            Sign Up
          </button>
        </li>
      </div>
      <li class="nav-item user dropdown">
        <button
          class="btn d-flex flex-row gap-1 align-items-center"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="bi bi-person"></i>
          <i class="bi bi-caret-down"></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<!-- Modal -->
<div
  class="modal fade"
  id="loginModal"
  tabindex="-1"
  aria-labelledby="loginModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <app-login></app-login>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="signupModal"
  tabindex="-1"
  aria-labelledby="signupModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <app-signup></app-signup>
    </div>
  </div>
</div>
