<div class="container mt-5 pt-lg-5">
  <div class="card p-5">
    <div *ngIf="user">
      <h6>
        Posting as
        <span
          ><img class="profile-picture" src="{{ user.profilePicture }}"
        /></span>
        {{ user.username }}
      </h6>
    </div>
    <form [formGroup]="createPostForm" (ngSubmit)="createPost(createPostForm)">
      <app-search-bar (onSetSubreddit)="setSubreddit($event)"></app-search-bar>
      <div class="my-3">
        <textarea
          autosize
          [minRows]="1"
          maxlength="300"
          class="form-control title"
          placeholder="Title"
          formControlName="title"
        ></textarea>
      </div>
      <div class="mb-3">
        <textarea
          autosize
          [minRows]="3"
          class="form-control body"
          placeholder="Body (optional)"
          formControlName="content"
        ></textarea>
      </div>
      <button type="submit" class="btn px-5 mt-4">Post</button>
    </form>
  </div>
</div>
