<!-- <app-sidebar-left class="col"></app-sidebar-left> -->
<div class="w-100 container mt-5">
  <div class="row">
    <div class="col-12 col-lg-8 d-flex flex-column gap-4">
      <div *ngIf="postData" class="card p-4">
        <div class="d-flex flex-row align-items-center mb-4">
          <div class="d-flex flex-column">
            <a href="" class="subreddit-name">r/{{ postData.subreddit }}</a>
            <div class="d-flex flex-row align-items-center gap-1">
              <span class="author"
                >Posted by
                <a href="" class="author-name"
                  >u/{{ postData.username }}</a
                ></span
              >
              <i class="bi bi-dot"></i>
              <a href="" class="time">{{
                findRelativeTime(postData.createdAt)
              }}</a>
            </div>
          </div>
        </div>
        <h3 class="post-title">{{ postData.title }}</h3>
        <p class="post-body">{{ postData.body }}</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex flex-row align-items-center gap-2">
            <i class="bi bi-arrow-up"></i>
            <span class="vote-count">3.4k</span>
            <i class="bi bi-arrow-down"></i>
          </div>
          <div class="comments">8.2k comments</div>
        </div>
      </div>
    </div>
    <app-sidebar-right class="col d-none d-lg-inline"></app-sidebar-right>
  </div>
</div>
