<!-- TO DO: 
  IMPROVE USER EXPERIENCE
  BETTER DESIGN FOR ERRORS
-->
<div class="rounded-3 container form-container">
  <button class="close" data-bs-dismiss="modal">
    <i class="bi bi-x"></i>
  </button>
  <h3>Sign up.</h3>
  <p>Signup to start using sawwit.</p>
  <form [formGroup]="signupForm" (ngSubmit)="signupUser(signupForm)">
    <div class="form-floating mt-2 mb-2">
      <input
        type="email"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
        formControlName="email"
      />
      <label for="floatingInput">EMAIL</label>
    </div>
    <ul *ngIf="invalidEmail">
      <li>Email must be a valid email.</li>
    </ul>
    <div class="form-floating mt-2 mb-2">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
        formControlName="username"
      />
      <label for="floatingInput">USERNAME</label>
    </div>
    <ul *ngIf="invalidUsername">
      <li>Username should be 4-20 characters long.</li>
      <li>No underscores at the beginning and end.</li>
      <li>No multiple underscores inside the username.</li>
      <li>Only alphanumeric characters and underscores are allowed.</li>
    </ul>
    <div class="form-floating mt-2 mb-2">
      <input
        type="password"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
        formControlName="password"
      />
      <label for="floatingPassword">PASSWORD</label>
    </div>
    <ul *ngIf="invalidPassword">
      <li>Password should be 8-20 characters long.</li>
      <li>Should contain at least one uppercase letter.</li>
      <li>Should contain at least one lowercase letter.</li>
      <li>Should contain at least one number.</li>
      <li>Should contain at least one special character.</li>
    </ul>

    <button type="submit" class="btn btn-primary mt-2 mb-2">Sign Up</button>
  </form>
  <p class="login-message">
    Already have an account?
    <span
      class="open-login"
      data-bs-dismiss="modal"
      data-bs-toggle="modal"
      data-bs-target="#loginModal"
      >LOG IN</span
    >
  </p>
</div>
