/* You can add global styles to this file, and also import other style files */
/* @import '~quill/dist/quill.bubble.css';  */

:root {
  --primary: #c83e4d;
  --primary-hover: #d8505e;
  --secondary: #e59500;
  --dark-primary: #252525;
  --dark-secondary: #333333;
  --dark-hover: #414141;
  --light-primary: #ffffff;
  --light-secondary: #c1c1c1;
}

body {
  font-family: "Anek Malayalam", sans-serif;
  color: var(--light-primary);
  background-color: var(--dark-primary);
}

input:focus,
button:focus {
  box-shadow: 0 0 0 1px var(--secondary);
}

.card {
  background-color: rgba(255, 255, 255, 0.02);
  border: 1px solid var(--dark-secondary);
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  max-height: 300px;
}

.card:hover {
  border: 1px solid var(--dark-hover);
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.05);
}

.subreddit-icon {
  width: 40px;
  height: 40px;
  margin-right: 1em;
}

a {
  text-decoration: none;
}

.subreddit-name {
  font-weight: 600;
  font-size: 1em;
  color: var(--primary);
}

.author {
  font-size: 0.8em;
  font-weight: 500;
  color: var(--light-secondary);
}

.author-name {
  color: var(--light-secondary);
}

.bi-dot {
  font-size: 0.8em;
  color: var(--light-secondary);
}

a:hover {
  text-decoration: underline;
  text-underline-offset: 0.3em;
  color: inherit;
}

.time {
  font-size: 0.8em;
  color: var(--light-secondary);
}

.time:hover {
  text-decoration: none;
}

.post-title {
  font-size: 1.4em;
  font-weight: 600;
  color: var(--light-primary);
}



.post-body {
  font-size: 1em;
  line-height: 1.8em;
  overflow-y: hidden;
  background-color: var(--light-secondary);
  font-weight: 500;
  /* Create the gradient. */
  background-image: linear-gradient(to bottom, #00000000, var(--dark-primary));

  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.vote-count {
  letter-spacing: 0.1em;
  font-weight: 600;
}

.comments {
  letter-spacing: 0.1em;
  font-size: 0.8em;
  transition: all 0.1s ease-in-out;
  padding: 0.8em;
  border-radius: 0.4em;
}

.comments:hover {
  background-color: var(--dark-hover);
}

.bi-arrow-up,
.bi-arrow-down {
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
}

.bi-arrow-up:hover,
.bi-arrow-down:hover {
  background-color: var(--dark-hover);
}

.subreddit-name:hover {
  color: var(--primary)
} 